.page {
  width: 100%;
  background-color: #96C6E9;
  margin: 0;
}

.page__container {
  max-width: 1920px;
  min-width: 320px;
  font-family: 'RotondaC', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

/*//////////////////////////*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 316px 0 315px;
}

.header__logo {
  max-width: 292px;
}

.header__nav {
  list-style: none;
  display: inline-grid;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  gap: 26px;
  padding: 0;
}

.header__nav-link {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.74px;
}

/*///////////////////////////*/

.info {
  display: flex;
  padding: 0 316px 0 315px;
  position: relative;

}

.text {
  color: #FFF;
  margin-right: 71.3px;
  display: flex;
  flex-direction: column;
}

.text__title {
  margin: 117px 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  
}

.text__description {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.text__icon {
  margin: 37px 0 0;
  width: 38px;
  height: 38px;
}

.info__heart-one {
  width: 203.33px;
  opacity: 0.15;
  position: absolute;
  top: 70px;
  left: 230px;
  transform: rotate(-14deg);
}

.info__heart-two {
  max-width: 64.17px;
  opacity: 0.2;
  position: absolute;
  top: 420px;
  left: 650px;
  transform: rotate(-14deg);
}

.info__heart-three {
  width: 111.67px;
  opacity: 0.2;
  position: absolute;
  top: 320px;
  left: 750px;
  transform: rotate(14deg);
}

.info__info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.info__img {
  max-width: 706.864px;
  margin: 28px 0 0;
  object-fit:cover;
  z-index: 2;
}

.info__heart {
  width: 203.33px;
  opacity: 0.15;
  transform: rotate(14deg);
  position: absolute;
  z-index: 1;
}

/*/////////////////////////////////*/

.campaign-hugging {
  position: relative;
}

.campaign-hugging__content {
  position: absolute;
  top: 150px;
  left: 27%;
  z-index: 4;
}

.campaign-hugging__pink-background {
  max-width: 737.24px;
  margin-left: -100px;
  margin-bottom: -50px;
  z-index: 1;
}

.campaign-hugging__img-penguins {
  z-index: 2;
  opacity: 0.999;
}

.campaign-hugging__text {
  width: 514px;
  color: #FFF;
  font-weight: 700;
  position: absolute;
  top: 40%;
  right: 12%;
}

.campaign-hugging__title {
  line-height: normal;
  font-size: 26px;
  text-transform: uppercase;
  
}

.campaign-hugging__description {
  font-size: 16px;
  line-height: 20px;
}

.campaign-hugging__white-wave {
  width: 100%;
  position: absolute;
  top: -200px;
  left: 0;
  z-index: 3;
}

.campaign-hugging__img-leaves {
  position: absolute;
  top: -20px;
  right: 28px;
  z-index: -1;
}

.campaign-hugging__heard-one {
  position: absolute;
  top: 70px;
  right: -70px;
  z-index: -1;
  width: 98.33px;
  opacity: 0.4;
  transform: rotate(14deg);
}

.campaign-hugging__heard-two {
  width: 157.5px;
  position: absolute;
  top: -120px;
  right: -20px;
  opacity: 0.15;
  z-index: -1;
  transform: rotate(-14deg);
}

.campaign-hugging__heard-three {
  position: absolute;
  top: 50px;
  left: -150px;
  opacity: 0.15;
  z-index: -1;
  width: 135.33px;
  transform: rotate(-14deg);
}

.campaign-hugging__container {
  position: absolute;
  max-width: 503px;
  display: flex;
  justify-content: space-between;
  top: 650px;
  left: 320px;
  z-index: 3;
}

.campaign-hugging__icon {
  margin: 0 18.65px 0 0;
}

.campaign-hugging__paragraph {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: Purple;
}

/*/////////////////////////////*/